body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
}

.section {
  background: #1e1e1e;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
}

input, textarea {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #2a2a2a;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
